@font-face {
    font-family: Inter;
    src: url(/RESOURCES/FONTS/Inter-VariableFont_slnt\,wght.ttf);
   
}
html {
    box-sizing: border-box;
    font-family: Inter;
}

*, *:before, *:after {
    box-sizing: border-box;
  }



header {
    width: 375px;
    height: 5rem;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    color: #fff;
    z-index: 999;
    background-color: rgba(42,98,209,1);
    
}

body {
    width: 375px;
    margin: 0;
    min-height: 100vh;
    border-right: solid 1px black;
}
h2 {
    font-size: 2rem;
    color: #fff;
    margin-top: 1.5rem;
}

.heroTextGratis {
    font-size: 3rem;
}

h3 {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.5pt;
}

h4 {
    margin: 0.25rem 0 0 0;
    font-size: 0.75rem;
    font-weight: 500;
}
.designLabsHeaderText {
    margin-left: 1rem;

}

.section-hero p {
    font-size: 00.75rem;
    font-weight: 600;
    color: #204B8F;
}

.section-hero {
    width: 375px;/* ESTO LO PUSE SOLO POR AHORA ANTES DE PONER EL QUERY*/
    display: flex;
    position: relative;
    padding-top: 0rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(42,98,209,1) 100%);
    background-repeat: no-repeat;
    padding-bottom: 2.5rem;
    border-radius: 0% 0% 100% 100% / 0% 0% 10% 10%;
}

.illustration-main {
    z-index: 1;
}

.circles-background {
    position: absolute;
    z-index: 0;
    padding-top: 10rem;
    right: 0;
    opacity: 70%;

}

.iconoMasInfo {
    width: 2.125rem;
    height: 2.875rem;
    border: solid 2px #204B8F;
    border-radius: 17px;
    margin: auto;
}

.flechitaIcon {
    position: relative;
    bottom: -1.2rem;
    animation: bottom-to-top 1600ms ease-in-out backwards infinite;
}

@keyframes bottom-to-top {
    0% {
        transform: translateY(0);
    }


    100% {
        transform: translateY(-70%);
        opacity: 0;
    }

}

main {
    padding: 0 1rem 0 1rem;
    width: 375px;
}

h1 {
    padding: 1rem 0 1rem 0;
    margin: 0;
    font-size: 1rem;
    text-align: center;
    color: #204B8F;
}

input[type="text"], input[type="email"], input[type="submit"] {
    border:none;
    background-image:none;
    border-radius: 0.25rem;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: none;
    outline: none;
}



.input-landing {
    width: 100%;
    padding: 1rem;
    margin-top: 0.75rem;
    background-color: #D0DBEF;
}

input[type="text"]:focus {
    box-shadow:0px 0px 0px 2px #204B8F inset;
}

input[type="email"]:focus {
    box-shadow:0px 0px 0px 2px #204B8F inset;
}



.input-landing::placeholder {
    color: #204B8F;
    background-color: #D0DBEF;
}

label {
    cursor: pointer;
}

input[type="checkbox"] {
    margin-top: 1rem;
    width: 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"] {
    margin: 1rem 0;
    width: 100%;
    height: 3rem;
    background-color: rgba(42,98,209,1);
    color: #fff;
    font-size: 1rem;
}

input[type="submit"]:hover {
    background-color: rgb(34, 76, 160);
    color: #fff;
}

input[type="submit"]:active {
    background-color: rgb(28, 60, 124);
    color: #fff;
    
}

.me-interesa {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
}

.checkbox1 {
    width: 50%;
}

.checkbox2 {
    width: 50%;
}

.subtitle-header {
    font-size: 0.75rem;
}

.confian-nosotros {
    margin-top: 1.5rem;
    padding: 0 1rem;
}

.confian-nosotros h4 {
    font-size: 1rem;
    font-weight: 600;
    color: #204B8F;
    margin: 0;
    text-align: center;
}

.confian-nosotros p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.overlay {
    height: 8.25rem;
    width: auto;
    position: absolute;
    border-radius: 0.25rem;
    top: 0;
    left: 0;
    background: red;
}

.marcas-confian {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: 8.25rem;
    width: auto;
    background-color: #5587CC;
    border-radius: 0.25rem;
}


footer {
    margin-top: 1.5rem;
    height: 4rem;
    color: #fff;
    background: #204B8F;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

footer img {
    cursor: pointer;
}

footer a {
    margin-left: 1.2rem;
}

.redes-sociales {
    display: flex;
    align-items: center;
}